#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shadow-on-text-red {
    text-shadow: 2px 2px 5px red;
}

.shadow-on-text-green {
    text-shadow: 2px 2px 5px green;
}
